.itemDetail {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 90vw;
    font-size: 40px;
    box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.79);
    background-color: darkslategray;
    img {
        width: 40%;
    }
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}