.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 200px;
    padding: 5px;
    box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.79);
    background-color: darkslategray;
    a {
        width: 90%;
        img{
            width: 100%;
        }
    }
}